* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    
    --azul_padrao: #003D73;
    --fundo_pagina: #ECF1F8;
    --fonte_Lato: 'Lato', sans-serif;
    --branco: #fff;
    --azul_escuro: #053155; 

}

.primeira_secao_menu_esquerdo {
    display: flex;
}

.menu_esquerdo_pequeno {
    width: 70px;
    height: 100vh;
    background-color: var(--azul_padrao);
}    

.menu_esquerdo_grande {
    width: 300px;
    height: 100vh;
    background-color: var(--azul_padrao);
}    

.corpo_do_site {
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo_pagina);
}   

.logo_integradash_desktop {
    width: 35px;
    margin: 15px 0 0 10px;

}

.espaco_menu_pequeno1 {
    background-color: var(--azul_padrao);
    height: 9vh;
    width: 50px;
}

.espaco_menu_pequeno2 {
    background-color: var(--azul_padrao);
    height: 36vh;
    width: 50px;
}

.menu_parte_superior  {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-left: 10PX;
}

.menu_parte_superior img {
    width: 70%;
}

.menu_parte_inferior {
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-left: 10PX;
}

.menu_parte_inferior img {
    width: 70%;}

.menu_parte_inferior .botao_sair {
    margin-left: 7px;
}

.hover1:hover {
    background-color: rgb(55, 139, 218);

    /* width: 30px;
    height: 30px; */
}

.Favorito_menu_grande{
    color: var(--branco   );
    font-size: 20px;
    font-weight: 900;
    margin-top: 60px;
    margin-left: 25px;
}

.Escolha_sua_planta_menu_grande{
    color: var(--branco   );
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 25px;
}

.plantas1 {
    margin-top: 10px;
    margin-left: 25px;
    background-color: var(--azul_escuro);
    color: var(--branco)
}

select {
    width: 70%;
}